
@media (max-width: 700px) {
  .hamburger {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff
  }
  #header.scrolled .hamburger {
  color: #000; /* black or dark for visibility on white */
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3rem;
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    z-index: 1100;
    display: block;
}
 .hero-section::before {
    height: 100vh; /* or auto, or a value that fits your content */
    min-height: 350px;
 }
  /* Hide nav by default */
  .mobile-nav, .button-auto {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 70%;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .mobile-nav ul {
    flex-direction: column;
    gap: 1.5rem;
  }
  .contact-link {
    flex-direction: column;
    display: block;
  }

  .mobile-nav a {
    color: #080505;
    font-size: 1.2rem;
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* When active, slide in */
  .mobile-nav.active {
    right: 0;
  }
.first-section {
  padding: 0;
}
  .stats-container {
    flex-direction: column;
    padding: 10px;
  }
  .stat-box {
    flex-direction: row;
  }
  .odometer {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    
  }
  .grid-text-card {
    grid-template-columns: 1fr;
    gap: 5em;
    padding: 10px;
  }
  .caption-text {
    text-align: flex; 
    align-items: flex-start;

  }
  .section-section {
    padding: 0;
  }
  .caption-text h2 {
    padding: 0.1rem;
    text-align: center;
    font-size: 1.7rem;
    align-items: center;
  }
  .Schedule-section {
    padding: 0;
  }
  .text-container {
    padding: 1rem;
  }
  .grid-content {
    grid-template-columns: 1fr;
    padding: 10px;
    margin-top: 5rem;
    gap: 5rem;
  }
    .week-days {
    gap: 0.6rem;
  }

  .week-days button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
  .Schedule-section {
    padding: 0;
  }
  .train-section {
    padding: 0;
  }
.train-container {
  padding: 10px;
}

  .grid-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .services-section {
    padding: 0;
    margin-bottom: 3rem;
  }
  .service-content {
    padding: 1rem;
  }
  .footer-section, .footer-container  {
    padding: 0;
    margin: 0;
  }
  .content-ftr {
    flex-direction: column;
  }
  .last-txt {
    padding: 10px;
  }
}
